[tool.poetry]
name = "trackma"
version = "0.8.5"
description = "Open multi-site list manager"
authors = ["z411 <z411@krutt.org>"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://z411.github.io/trackma/"
repository = "https://github.com/z411/trackma"
keywords = [
    "list manager", "curses", "gtk", "qt", "myanimelist",
    "kitsu", "anilist", "shikimori",  "vndb"
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: End Users/Desktop",
    "Topic :: Internet",
    "Topic :: Multimedia",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: POSIX",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
]


[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.28.1"
inotify = { version = "^0.2.10", optional = true }
pillow = { version = "^9.2.0", optional = true }
pycairo = { version = "^1.21.0", optional = true }
pydbus = { version = "^0.6.0", optional = true }
pygobject = { version = "^3.42.1", optional = true }
pyinotify = { version = "^0.9.6", optional = true }
pypresence = { version = "^4.2.1", optional = true }
pyqt5 = { version = "^5.15.7", optional = true }
requests-oauthlib = { version = "^1.3.1", optional = true }
twitter = { version = "^1.19.3", optional = true }
urwid = { version = "^2.1.2", optional = true }

[tool.poetry.extras]
gtk = ["pygobject", "pycairo", "pillow"]
qt = ["pyqt5", "pillow"]
curses = ["urwid"]
ui = ["pygobject", "pycairo", "pillow", "pyqt5", "urwid"]
trackers = ["inotify", "pyinotify", "pydbus"]
discord_rpc = ["pypresence"]
twitter = ["twitter", "requests-oauthlib"]

[tool.poetry.scripts]
trackma = "trackma.ui.cli:main"
trackma-curses = { callable = "trackma.ui.curses:main", extras= ["curses"] }
trackma-gtk = { callable = "trackma.ui.gtk:main", extras = ["gtk"] }
trackma-qt = { callable = "trackma.ui.qt:main", extras = ["qt"] }


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
