; wMAL configuration file

; This is an example configuration file.
; You must rename this to "wmal.conf"
; and move it to "~/.wmal" with your
; own options.

; Main settings
[main]
; Choose the API to connect to, current options: mal|vndb
api = mal
; Folder with the videos to play from
searchdir = /home/user/Videos
; Media player to use when playing videos
player = mplayer2

; ===============
; = MyAnimeList =
; ===============
[mal]
; Enter your MyAnimeList credentials here.
; The ones you use in the site should work.
username = CHANGEME
password = CHANGEME
; Current options: anime|manga
mediatype = anime

; ========
; = vndb =
; ========
[vndb]
; Enter your vndb user ID as the username
; This will change, it's temporary.
username = 12793
password = None ; unused
; vn is the only available option
mediatype = vn
